<%= div_for comment do %>
<div class="defloater"></div>
<% unless comment.body == 'comment_deleted' %>
    
<%= simple_format(auto_link(comment.body), :class => 'comment_text comment'+((comment.new?(current_user))? '_new' : '_read')) %>
    <div class="defloater"></div>
    <span class="heading_subtelize"><%= time_ago_in_words(comment.created_at) %> ago by <strong><%= link_to(comment.user.username,comment.user) %></strong>
    <% if comment.user == current_user %>
      &nbsp;(<%= link_to('x', comment, :method => :delete, :confirm => 'remove comment?', :remote => :true) %>)
    <% end %>
    </span>
<% else %>
    <div class="deleted_comment" title="comment deleted by <%= comment.user.username %>, <%= time_ago_in_words(comment.updated_at) %> ago"></div>
<% end %>
<% end %>
