<%= div_for comment do %>
  
    <div class="comment_indentor<%= (comment.new?(current_user))? '_new' : '' %>"></div><%= h(comment.body) %><br />
    <span class="heading_subtelize"><%= time_ago_in_words(comment.created_at) %> ago by <strong><%= link_to(comment.user.username,comment.user) %></strong></span>
<% end %>
