<i><h2><%= h(user.username) %></h2></i><br />
<%= image_tag avatar_url(user) %><br />
member since: <i><%= time_ago_in_words(user.created_at) %> ago</i><br />
posts: <i><%= user.posts.count %></i><br />
memorized/(by others): <i><%= user.good_memories.count %>/<%= user.good_memories_by_others.count %></i><br />
burnt/(by others): <i><%= user.burned_memories.count %>/<%= user.burned_memories_by_others.count %></i><br />
