<h2>Showing all users</h2>
	<%# render :partial => @users %>
<% @users.each do |u| %>
  <h2><%= link_to(u.username, user_path(u)) %></h2>
  <h3><%= link_to(u.email, 'mailto:'+u.email) %>, summary <%= link_to('send', send_summary_user_path(u))%></h3>
<% end %>

<%= content_for :leftside do %>
	<h2>Showing all admins</h2>	
	<%= render :partial => @admins %>
<% end %>
