<% if @user == current_user then %>
  <br /><br />
  <h2>< You.</h2>
<% else %>
  <h2>build trust with <%= h(@user.username) %></h2>
  <p>when you build trusts on the same interest with other users, you will then be able to see each other's private posts</p>
  <%= render 'trusts/form' %>
  <%= render :partial => @user %>
  <h2>List of <%= @user.username %>'s interests:</h2>
  <% if @user.interests.that_are_public.present? %>
  <p>you can adopt this user's interests</p>
  <%= render :partial => @user.interests.that_are_public %>
  <% else %>
    <p>no more public interests from this user to adopt</p>
  <% end %>
<% end %>

<% content_for :leftside do %>
<div class="user_trusts">		
	<%= render :partial => current_user %>


	<% if outgoing_trusts.present? %>	
		<h2>list of your trusts</h2>
		<%= render :partial => outgoing_trusts %>
	<% end %>
	<% if incoming_trusts.present? %>
		<h2>list of incoming trusts</h2>
		<%= render :partial => 'trusts/incoming_trust', :collection => incoming_trusts %>
	<% end %>
</div>

	<% if current_user.authentications.present? %>
          <%= content_tag(:h2, 'linked connections') %>
		<% for authentication in current_user.authentications %>
			<div class="authentication">
          		<%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
          <%= link_to image_tag('/images/remove.png', :border => 0, :title => 'remove connection'), authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
        </div>		
		<% end %>
        <% end %>

<div class="clean_from_top">

  <% if current_user.authentications.count < 2 %>
  <%= content_tag(:h2, 'link another connection') %>
  <% end %>
<div class="auths">
<% unless current_user.authentications.where(:provider => 'twitter').present? %>
<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter_32.png", :size => "32x32", :alt => "Twitter" %>
</a>
<% end %>
<% unless current_user.authentications.where(:provider => 'facebook').present? %>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook_32.png", :size => "32x32", :alt => "Facebook" %>
</a>
<% end %>
</div></div>

<% end %>
