<% if @user == current_user then %>
  <br /><br />
  <h2>< You.</h2>
<% else %>
  <h2>build trust with <%= h(@user.username) %></h2>
  <p>when you build trusts on the same interest with other users, you will then be able to see each other's private posts</p>
  <%= render 'trusts/form' %>
  <%= render :partial => @user %>
  <h2>List of <%= @user.username %>'s interests:</h2>
  <% if @users_prefered_interests.present? %>
  <p>you can adopt this user's interests</p>
  <%= render :partial => 'shared/interest', :collection => @users_prefered_interests %>
  <% else %>
    <p>no more public interests from this user to adopt</p>
  <% end %>
<% end %>

<% content_for :leftside do %>
		
  <%= render :partial => current_user %>

<div class="user_trusts">
  <% if incoming_trusts.present? %>
    <%= link_to(content_tag(:h2, 'list of incoming trusts ('+ incoming_trusts.size.to_s+')'), '#', :class => 'hider', :id => 'incoming_trusts' ) %>
    <div class="content_incoming_trusts" style="display:none">
    <%= render :partial => 'trusts/incoming_trust', :collection => incoming_trusts %>
    </div>
  <% end %>

  <% if outgoing_trusts.present? %>
    <%= link_to(content_tag(:h2, 'list of your trusts ('+ outgoing_trusts.size.to_s+')'), '#', :class => 'hider', :id => 'outgoing_trusts' ) %>
    <div class="content_outgoing_trusts" style="display:block">
    <% trusted_interests.each do |i| %>
      <h3>
        <% i.beads.each do |beader| %>
          <span class="text_emphasizer">o </span><span class="text_deemphasizer"><%= beader.title %></span>
        <% end %>
        <div class="defloater"> </div>
        <%= render :partial => i.trusts_from(current_user) %>
      </h3>
      <div class="defloater"> </div>


    <% end %>
    </div>
  <% end %>

</div>

	<% if current_user.authentications.present? %>
          <%= content_tag(:h2, 'linked connections') %>
		<% for authentication in current_user.authentications %>
			<div class="authentication">
          		<%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
          <%= link_to image_tag('/images/remove.png', :border => 0, :title => 'remove connection'), authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
        </div>		
		<% end %>
        <% end %>

<div class="clean_from_top">

  <% if current_user.authentications.count < 2 %>
  <%= content_tag(:h2, 'link another connection') %>
  <% end %>
<div class="auths">
<% unless current_user.authentications.where(:provider => 'twitter').present? %>
<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter_32.png", :size => "32x32", :alt => "Twitter" %>
</a>
<% end %>
<% unless current_user.authentications.where(:provider => 'facebook').present? %>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook_32.png", :size => "32x32", :alt => "Facebook" %>
</a>
<% end %>
</div></div>

<% end %>
