<h1>Listing beadfabrics</h1>

<table>
  <tr>
    <th>Bead</th>
    <th>Post</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @beadfabrics.each do |beadfabric| %>
  <tr>
    <td><%= beadfabric.bead_id %></td>
    <td><%= beadfabric.post_id %></td>
    <td><%= link_to 'Show', beadfabric %></td>
    <td><%= link_to 'Edit', edit_beadfabric_path(beadfabric) %></td>
    <td><%= link_to 'Destroy', beadfabric, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Beadfabric', new_beadfabric_path %>
