<div class="preview_slot" data-id="<%= interest.id %>">
<%# debug(interest.preference_for(current_user).empty?) %>
<h3><%= (interest.preference_for(current_user).empty?)? (link_to image_tag('/images/add.png', :border => false, :class => 'adopt_interest', :alt => 'Adopt', :title => 'adopt this interest'), adopt_interest_path(interest)) : '' %>
  <%= link_to_unless_current (image_tag '/images/go_indicator.png', :border => 0, :title => 'enter interest'), interest %>
  (<%= (interest.preference_for(current_user))? h(interest.post_count_unread(current_user).to_s + ' new / ') : '' %><%= pluralize(interest.memorized_post_content(true,current_user).size, 'memory') %>)
  <% unless interest.preference_for(current_user).empty? %>
  <%= (interest.preference_for(current_user).first.i_private==true)? image_tag('/images/private.png', :border => 0, :title => 'private interest') : '' %>
    <span class="interest_operators" id="interest_operators_<%= interest.id %>" style="display:none">[ <%= link_to(image_tag('/images/edit.png',:border => 0, :title => 'edit'), edit_interest_path(interest)) %> | <%= link_to(image_tag('/images/remove.png',:border => 0, :title => 'remove'), interest, :confirm => 'Are you sure?', :method => :delete) %> ]</span>
  <% end %>
</h3>
  <% interest.beads.each do |beader| %>
  <span class="text_emphasizer">o </span><span class="text_deemphasizer"><%= beader.title %></span>
  <% end %>
  <%= (interest.live_message_content(current_user).size > 0)? content_tag(:p, pluralize(interest.live_message_content(current_user).size, 'live message'), :class => 'text_emphasizer') : '' %>
</div>
