<h2>dashboard</h2>
<h3>minds</h3>
<p>
  users #: <%= link_to(User.all.size, users_path) %>
<br />
  admins #: <%= link_to(Admin.all.size, users_path) %>
<br />
  online minds #: <%# @online_minds_count %>
</p>

<h3>content</h3>
<p>
  posts #: <%= Post.all.size %>
  <br />
  comments #: <%= Comment.all.size %>
  <br />
  bad memories #: <%= Memorization.where(:memorable => false).size %>
  <br />
  good memories #: <%= Memorization.where(:memorable => true).size %>
</p>
<h3>content fabrics</h3>
<p>
  interests #: <%= Interest.all.size %>
  <br />
  beads_interests fabric #: <%= BeadsInterest.all.size %>
  <br />
  beads_posts fabric #: <%= BeadsPost.all.size %>
</p>



<%= content_for :middletop do %>
<h1>ADMIN environment</h1>
<% end %>


<%= content_for :leftside do %>
<h2>actions</h2>
<p>
  <%= link_to '|< add new bead', new_bead_path %> 
</p>

<p>
  <%= link_to '|< reset counts', '/reset_counts' %>
</p>

<h2>requests</h2>
<p>
  for beads #: <%= Request.find_all_by_r_type('bead_request').size %>
  <br />
  for access #: <%= Request.find_all_by_r_type('access_request').size %>
  <br />
  all summary #: <%= Request.all.size %>
</p>
<% end %>

<%= content_for :rightside do %>
  <h2>dynamic</h2>
  <%# @all_models.each do |model| %>
  <%# model.name %> #: <%# model.all.count %><br />
  <%# end %>
  <%# debug(@all_models) %>

  <%= render :partial => Bead.all %>
<% end %>
