var identifier = '#beadpoint<%=raw escape_javascript(@bead.id.to_s) %>'
var parent_bead_point_data = $(identifier).parent().data("beadpoints");
var parent_identifier = $(identifier).parent().attr("data-id");
<% @users_interests_containing_selected_bead_array.each do |i| %>
  $(identifier).append("<div id='"+parent_identifier+"beadgroup<%=raw escape_javascript(@bead.id.to_s) %>'><%=raw escape_javascript(render :partial => 'shared/bead', :collection => Interest.find_by_id(i).beads - @bead.to_a) %></div>");
  $("#"+parent_identifier+"beadgroup<%=raw escape_javascript(@bead.id.to_s) %>").data("beadpoints", <%= @beads_in_path.to_json %>);
  $(identifier).append("<%=raw escape_javascript(debug(@beads_in_path.to_json)) %>");

<% end %>

