<% content_for :head do %>
  <%= javascript_include_tag "bead_ops", "message_ops" %>
<% end %>

<% content_for :leftside do %>
  <%= render :partial => current_user %>
  <div class="activated_post_container"></div>
  <% if incoming_trusts.present? %>
      <h2>incoming trusts</h2>
      <%= render :partial => 'trusts/incoming_trust', :collection => incoming_trusts %>
    <% end %>

  <h2><%= link_to image_tag('add.png', :border => false) + ' create message', root_path, :remote => true, :class => 'hider', :id => 'create_message' %></h2>
  <div class="content_create_message" style="display:none">
    <%= render 'shared/post_form' %>
  </div>

      <div class="slot_full"></div>
<% end %>

<h2>browse interests<span class="title_operator"><%# link_to image_tag('add.png', :border => false) + ' add new', new_interest_path %></span></h2>
<%# debug(@parent_beads_array) %>
  <% @parent_beads_array.each do |bead| %>
    <div class="bead_point_container" data-id="<%= bead.id %>"><%= render :partial => 'shared/bead', :object => bead %></div>
  <% end %>
  <%# render :partial => @interests %>
<% content_for :rightside do %>
  <div class="dynamic" id="recalls">
  </div>
    <h2>beads</h2>
  <h2><%= link_to 'recent activity', load_with_ajax_path(:load_type => 'active_beads'), :remote => true, :class => 'a_loader' %></h2>
  <div id="content_active_beads" style="display: none"><img src='/images/loader.gif'/> Loading...</div>
  <h2><%= link_to 'top beads overall', load_with_ajax_path(:load_type => 'top_beads_overall'), :remote => true, :class => 'a_loader' %></h2>
  <div id="content_top_beads_overall" style="display: none"></div>
  <h2><%= link_to 'recently added', load_with_ajax_path(:load_type => 'recent_beads'), :remote => true, :class => 'a_loader' %></h2>
  <div id="content_recent_beads" style="display: none"><%= render :partial => recent_beads %></div>

<% end %>

<% content_for :middletop do %>
  <% unless current_user.role == 'guest'  %>
    <p><i>full memory search</i></p>
  <p>
    <%= text_field_tag :mindsearch, params[:search], :placeholder => "search..." %>
  </p>
  <% else %>
  <p><i>complex search disabled for guests</i></p>
  <% end %>

<% end %>
