<% content_for :leftside do %>
  <%= render :partial => current_user %>
<% end %>

  <h2>interests</h2>
  <%= render :partial => @interests %>
<% content_for :rightside do %>
  <h2>beads</h2>
  <h2><%= link_to 'recent activity', '#', :remote => true, :class => 'slider', :id => 'active_beads' %></h2>
  <div class="content_active_beads" style="display: none"><%= render :partial => active_beads %></div>
  <h2><%= link_to 'top beads overall', '#', :remote => true, :class => 'slider', :id => 'top_beads' %></h2>
  <div class="content_top_beads" style="display: none"><%= render :partial => top_beads_overall %></div>
  <h2><%= link_to 'recently added', '#', :remote => true, :class => 'slider', :id => 'recent_beads' %></h2>
  <div class="content_recent_beads" style="display: none"><%= render :partial => recent_beads %></div>
<% end %>

<% content_for :bottom do %>
  <table width="100%" class="bottom_stripe">
  <tr>
    <td class="leftside"> invite new >| </td><td class="middle"><%= link_to '|< add new interest', new_interest_path %> </td><td class="rightside"><%= link_to '|< add new bead', new_bead_path %> </td>
  </tr>
</table>
<% end %>
