<% content_for :head do %>
  <%= javascript_include_tag "bead_ops", "message_ops", "interest_ops", "jscroll", "jquery.pageless", "jquery.jqEasyCharCounter.min", "jquery.autogrow-textarea" %>
<% end %>

<%= content_for :tabs do %>
  <% if session[:loaded_interests] %>
  <% session[:loaded_interests].each do |i| %>
    <div class="interest_tab previous_tab"><span class="interest_tab_title"><%= link_to(interest_path(i), :remote => true) do %><%= Interest.find(i).title %><% end %></span><%= link_to(image_tag('/images/remove_small.png',:border => 0,:title=>'remove tab', :class=>'tab_closeout'),remove_tab_interest_path(i),:class=>'tab_remove') %></div>
  <% end %><span class='interest_tab_terminator'></span>
  <% end %>
<% end %>

<% content_for :leftside do %>

<%# memory search %>
<% unless current_user.role == 'guest'  %>

  <p>
    <%= text_field_tag :mindsearch, params[:search], :placeholder => "memory search..." %>
  </p>
<% else %>
  <p><i>complex search disabled for guests</i></p>
<% end %>

<%= render 'shared/interest_browser_switch' %>

<div id="interestbrowser" style='display:none'>
  <% parent_beads_array.each do |bead| %>
    <div class="bead_point_container" data-id="<%= bead.id %>"><%= render :partial => 'shared/bead', :object => bead %></div>
  <% end %>
</div>

<%= link_to(render('shared/trust_switch'), user_path(current_user)) %>
<%= link_to(render('shared/settings_switch'), current_user.user_preference) %>    
<div class="leftslot">





<div class='operator_block'>
<% if current_user.live_memories.present? %>
<div class='hider' id='live_memories' title="Live memories are your memorized messages which have been responded to or added since you have last accessed the related interest.">Live memories (<span class='live_memories_size'><%= current_user.live_memories.count %></span>)</div>
<% end %>

<% if current_user.action_memories.present? %>
<div class='hider' id='action_memories' title="Action memories are your memorized messages which have been marked for action. You can disable this mark on each message, by previewing it and marking it for completion or archival.">Action memories (<span class='action_memories_size'><%= current_user.action_memories.count %></span>)</div>
<% end %>
</div>

<div class='operator_block'>
<%= link_to(render('shared/more_switch'), "#", :remote=>:true) %>    
</div>


  <% if incoming_trusts.present? %>
    <h2>incoming trusts</h2>
    <%= render :partial => 'trusts/incoming_trust', :collection => incoming_trusts %>
  <% end %>

</div>

<% end %>
  <div class="welcome">
    <h2>Welcome <%= (current_user.sign_in_count > 1)? "back, " : "" %><%= current_user.username %>!</h2>
      <%= (current_user.sign_in_count > 1)? simple_format("See on your left, what is waiting (action memories), or you may have missed since your last check in (live memories).<br /><br />Browse interests to open messages or memories under each interest.") : simple_format("On your left, you can browse the available interests.<br /><br />You can also create new ones under each of the parent concepts.") %>
  </div>

  <div class="content_live_memories" style="display:none">
    <div class='defloater'></div><div class='extender_stripe'><div class='extender_header'>Live memories</div><div class='extender_line'></div></div><br />
    <%= render :partial => current_user.live_memories %>
  </div>

  <div class="content_action_memories" style="display:none">
    <div class='defloater'></div><div class='extender_stripe'><div class='extender_header'>Action memories</div><div class='extender_line'></div></div><br />
    <%= render :partial => current_user.action_memories %>
  </div>

  <%= content_tag(:div, '', :class=>'dynamic',:id=>'recalls') %>

<% content_for :rightside do %>
  <div class="activated_post_container"></div>

<% end %>

<% content_for :middletop do %>


<% end %>
