
<br />


<table>

  <tr valign ="top">
    <td class="interestlist">
      <h2>my interests</h2>
      <%= render :partial => current_user.interests %></td>
    <td class="trendlist">
      <h2>top beads overall</h2>
        <%= render :partial => @topbeads %>
      <h2>recently added </h2>
        <%= render :partial => @recentbeads %>

    </td>
    <td class="profileinfo"><%= render :partial => current_user %></td>
  </tr>
  <tr align ="left" height ="30px" valign ="bottom">
    <td width ="40%"><%= link_to '|< add new interest', new_interest_path %> </td><td width ="40%"><%= link_to '|< add new bead', new_bead_path %> </td><td width ="20%">|< invite new </td>
  </tr>
</table>

<%# link_to "My Interests", interests_path %> 
<%# link_to "All Content", beads_path %>
<%# Find me in app/views/home/index.html.erb %>
<br />
<p>@copyright 2011 by Pelo Zemina</p>
