<% content_for :head do %>
  <%= javascript_include_tag "bead_ops", "message_ops", "interest_ops", "jscroll", "jquery.pageless" %>
<% end %>

<%= content_for :tabs do %>
  <% if session[:loaded_interests] %>
  <% session[:loaded_interests].each do |i| %>
    <div class="interest_tab previous_tab"><span class="interest_tab_title"><%= link_to(interest_path(i), :remote => true) do %><%= Interest.find(i).title %><% end %></span><%= link_to(image_tag('/images/remove.png',:border => 0,:title=>'remove tab'),remove_tab_interest_path(i),:class=>'tab_remove') %></div>
  <% end %>
  <% end %>
<% end %>


<% content_for :leftside do %>
<% if current_user.live_memories.present? %>
    | <%= link_to content_tag(:span, current_user.live_memories.count, :title => (pluralize(current_user.live_memories.count,'live message')), :class => 'new_message_count'), '#', :class => 'hider', :id => 'live_memories' %>
<% end %>


<%# memory search %>
<% unless current_user.role == 'guest'  %>

  <p>
    <%= text_field_tag :mindsearch, params[:search], :placeholder => "memory search..." %>
  </p>
<% else %>
  <p><i>complex search disabled for guests</i></p>
<% end %>

<div id="interestbrowser">
  <% @parent_beads_array.each do |bead| %>
    <div class="bead_point_container" data-id="<%= bead.id %>"><%= render :partial => 'shared/bead', :object => bead %></div>
  <% end %>
</div>
    
  <div class="leftslot"></div>
<% end %>

  <%= content_tag(:div, '', :class=>'dynamic',:id=>'recalls') %>

  <%# render :partial => @interests %>
<% content_for :rightside do %>
  <div class="content_live_memories" style="display:none">
    <div class='defloater'></div><div class='extender_stripe'><div class='extender_header'>showing live messages</div><div class='extender_line'></div></div><br />

    <%= render :partial => current_user.live_memories %>
  </div>

  <div class="activated_post_container"></div>
  


  <% if incoming_trusts.present? %>
    <h2>incoming trusts</h2>
    <%= render :partial => 'trusts/incoming_trust', :collection => incoming_trusts %>
  <% end %>
<% end %>

<% content_for :middletop do %>


<% end %>
