<%= form_for(@beadthread) do |f| %>
  <% if @beadthread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beadthread.errors.count, "error") %> prohibited this beadthread from being saved:</h2>

      <ul>
      <% @beadthread.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :interest_id %><br />
    <%= f.text_field :interest_id %>
  </div>
  <div class="field">
    <%= f.label :bead_id %><br />
    <%= f.text_field :bead_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
