<h1>Listing beadthreads</h1>

<table>
  <tr>
    <th>Interest</th>
    <th>Bead</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @beadthreads.each do |beadthread| %>
  <tr>
    <td><%= beadthread.interest_id %></td>
    <td><%= beadthread.bead_id %></td>
    <td><%= link_to 'Show', beadthread %></td>
    <td><%= link_to 'Edit', edit_beadthread_path(beadthread) %></td>
    <td><%= link_to 'Destroy', beadthread, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Beadthread', new_beadthread_path %>
