<%= form_for(@interest) do |f| %>
<%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
    <%= character_count('interest_title', Interest::MAX_TITLE_LENGTH, Interest::MAX_TITLE_LENGTH - 5) %>
    <%= f.check_box :i_private %><%= f.label 'Private interest' %>
  </p>
  <% if params[:action] != 'new' then %>
  <%= f.collection_select :bead_ids, @interest.beads.all, :id, :title, {}, :multiple => true , :prompt => true, :style => 'display:none' %>
	<p>
	<h2>selected beads</h2>
	<p>with <%= @interest.post_count %> posts</p>
	<% @interest.beads.each do |added_bead| %>
        <h3><%= link_to(image_tag('/images/delete.png', :border => 0), :action => 'remove_single_bead', :bead_id => added_bead.id) %> <%= h(added_bead.title) %></h3>
        <%= h(added_bead.description) %>
    	<% end %>
	</p><br />
  <% end %>
    <%= f.submit %>
<% end %>

<% if params[:action] == 'new' then %>
  <p>Create interest first.</p>
<% else %>
  <h2>parent beads</h2>

  <% @parent_beads.each do |pb| %>
        <h3><%= link_to(pb.title, :action => 'add_single_bead', :bead_id => pb.id) %> ( <%= h(pb.beads_posts_count) %> posts )</h3>
        <%= h(pb.description) %>
  <% end %>

  <h3>search and add beads:</h3>

  <%= form_for edit_interest_path, :method => 'get', :id => 'beads_search' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%# submit_tag "Search", :name => nil %>
    </p>
    <div id="dynamic_beads" data-id="<%= @interest.id %>"><%= 'enter search criteria' %></div>
  <% end %>

    



<% if @interest.beads.present? %>
    <%= content_for :leftside do %>
      <h2>suggestions</h2>
      <p>based on your bead selection, you could adopt some of these popular combinations</p>
      <% if @interest.beads.size == 1 %>
        <h3><%= link_to('top 2 bead combinations', '#', :remote => true, :class => 'slider', :id => 'two_bead_combinations') %></h3>
	<div class="content_two_bead_combinations" style="display:none">
	<p>containing: <%= @interest.beads.first.title %></p>	
	<% @interest.nearest_beads.each do |matching_bead| %>
		<h3><%= link_to(image_tag('/images/add.png', :border => 0), :action => 'add_single_bead', :bead_id => matching_bead.id) %>
		and <%= h(matching_bead.title) %> <span class="text_emphasizer">(<%= @interest.estimated_post_count(matching_bead) %>)</span></h3>
	
	<% end %>
	</div>
	<h3><%= link_to('top 3 bead combinations', '#', :remote => true, :class => 'slider', :id => 'three_bead_combinations') %></h3>
	<div class="content_three_bead_combinations" style="display:none">
	<p>containing: <%= @interest.beads.first.title %></p>
	<% @interest.nearest_beads_combination(3).each do |match_combo| %>
		<h3><%= link_to(image_tag('/images/add.png', :border => 0), :action => 'add_beads', :bead_ids => match_combo - match_combo.fetch(0).to_a) %>
		and <%= h(Bead.find_by_id(match_combo.fetch(1)).title) %> <span class="text_emphasizer"> with <%= h(Bead.find_by_id(match_combo.fetch(2)).title) %> <span class="text_emphasizer">(<%= match_combo.fetch(0) %>)</span></h3>
	<% end %>
	</div>

<%# 4beads %>

	<h3><%= link_to('top 4 bead combinations', '#', :remote => true, :class => 'slider', :id => 'four_bead_combinations') %></h3>
	<div class="content_four_bead_combinations" style="display:none">
	<p>containing: <%= @interest.beads.first.title %></p>
	<% @interest.nearest_beads_combination(4).each do |match_combo| %>
		<h3><%= link_to(image_tag('/images/add.png', :border => 0), :action => 'add_beads', :bead_ids => match_combo - match_combo.fetch(0).to_a) %>
		and <%= h(Bead.find_by_id(match_combo.fetch(1)).title) %> + <%= h(Bead.find_by_id(match_combo.fetch(2)).title) %> + <%= h(Bead.find_by_id(match_combo.fetch(3)).title) %> <span class="text_emphasizer">(<%= match_combo.fetch(0) %>)</span></h3>
	<% end %>
	</div>
        <%# debug(@interest.nearest_beads) %>
      <% elsif @interest.beads.size == 2 %>
        <h3>top 3 bead combinations containing <%= @interest.beads.first.title %> and <%= @interest.beads.last.title %> </h3>
	<% @interest.nearest_beads.each do |matching_bead| %>
		<h3><%= link_to(image_tag('/images/add.png', :border => 0), :action => 'add_single_bead', :bead_id => matching_bead.id) %>
		and <%= h(matching_bead.title) %> <span class="text_emphasizer">(<%= @interest.estimated_post_count(matching_bead) %>)</span></h3>
	<% end %>
      <% elsif @interest.beads.size == 3 %>
        <h3>top 4 bead combinations containing 
        <% @interest.beads.each do |ib| %> <%= ib.title %> and
        <% end %> </h3>
	<% @interest.nearest_beads.each do |matching_bead| %>
		<h3><%= link_to(image_tag('/images/add.png', :border => 0), :action => 'add_single_bead', :bead_id => matching_bead.id) %>
		<%= h(matching_bead.title) %> <span class="text_emphasizer">(<%= @interest.estimated_post_count(matching_bead) %>)</span></h3>
	<% end %>
      <% end %>

        
    <% end %>
  <%= content_for :rightside do %>
    <% if @interest.other_matching_interests.present? %>
        <h2>you already have it!</h2>
        <%= render :partial => @interest.other_matching_interests %>
    <% end %>

    <% if @interest.users_sharing_the_same_interest.present? %>
        <h2>there is <%= pluralize(@interest.users_sharing_the_same_interest.size, 'mind') %> sharing this interest</h2>
    <% end %>
  <% end %>
<% end %>

<%end%>
