<%= form_for(@interest) do |f| %>
  <% if @interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
      <% @interest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
  <%= f.collection_select :bead_ids, @interest.beads.all, :id, :title, {}, :multiple => true , :prompt => true %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  <h3>Add beads:</h3>

  <% form_tag edit_interest_path(@interest), :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <% end %>
  <% if @beads.nil? then %>
  <%= 'enter search criteria' %><br /><br />
  <% else %>
  <i><%= 'click the bead to add it to the current interest' %> </i>
  <%= render :partial => @beads %><br /><br />
  <% end %>
