<h3><%= link_to_unless_current @interest.title, @interest %> (<%= (@interest.post_count_unread > 0)? h(@interest.post_count_unread.to_s + ' new / ') : '' %><%= @interest.post_count %>)</h3>
<% if @interest.user == current_user %>
( <%= link_to 'e', edit_interest_path(@interest) %> |
  <%= link_to 'x', @interest, :confirm => 'Are you sure?', :method => :delete %> )
<% end %>
  <% @interest.beads.each do |beader| %>
  o <span class="text_emphasizer"><%= beader.title %></span>
  <% end %>

<% if current_user == @interest.user and @interest.trusts.present? %>
	<h2>You trust this interest to</h2>
	<%= render :partial => @interest.trusts %>
<% end %>