<h2>showing interest (<%= (@interest.post_count_unread(current_user) > 0)? h(@interest.post_count_unread(current_user).to_s + ' new / ') : '' %><%= @interest.post_count %>)</h2>
  <% @interest.beads.each do |beader| %>
  o <span class="text_emphasizer"><%= beader.title %></span>
  <% end %>
  <% unless @interest.preference_for(current_user).empty? %>
    <h3><%= (@interest.preference_for(current_user).first.i_private == true)? 'private interest' : '' %></h3>
    <p>last visit <%= time_ago_in_words(@interest.preference_for(current_user).first.last_visit_at) %> ago</p>
  <% end %>
  with <%= @interest.memorized_post_content(true,current_user).size %> memories<br />
  you share it with <%= pluralize(@shared_by_this_many_users, 'mind') %>
  </p>
<% unless @interest.preference_for(current_user).empty? and @interest.trusts.empty? %>
	<br /><h3>You trust this interest to</h3>
	<%= render :partial => 'trusts/outgoing_trust', :collection => @interest.trusts %>
<% end %>
