<h2>showing interest (<%= (@interest.post_count_unread > 0)? h(@interest.post_count_unread.to_s + ' new / ') : '' %><%= @interest.post_count %>)</h2>
  <% @interest.beads.each do |beader| %>
  o <span class="text_emphasizer"><%= beader.title %></span>
  <% end %>
  <h3><br><%= (@interest.i_private == true)? 'private interest' : '' %></h3>
  <p>
  last visit <%= time_ago_in_words(@interest.last_visit_at) %> ago<br />
  with <%= @interest.memorized_post_content(true,current_user).size %> memories<br />
  you share it with <%= pluralize(@shared_by_this_many_users, 'mind') %>
  </p>
<% if current_user == @interest.user and @interest.trusts.present? %>
	<br /><h3>You trust this interest to</h3>
	<%= render :partial => 'trusts/outgoing_trust', :collection => @interest.trusts %>
<% end %>
