<% unless @search_results.empty? %>
	$(".dynamic#memories").html("<i><%=raw escape_javascript('...') %></i>");
	$(".dynamic#recalls").html("<%=raw escape_javascript(render(@search_results)) %>");
	$(".dynamic#recalls").prepend("<i><%=raw escape_javascript('click to preview, found ') %><%= escape_javascript(pluralize(@search_results.size,'result')) %></i>");
	$(".dynamic#recalls").append("<i><%=raw escape_javascript('end of results<br />') %></i>");
<% else %>
	$(".dynamic#recalls").html("<i><%=raw escape_javascript('no memory found') %></i>");
<% end %>

  $(document).ready(function() {

	$(".post").hover(
	  function () {
		var identificator = $(this).attr("id");
		$("#post_operators_"+identificator).show();
		$(this).css("background-color","#d1ffc0")
	  },
	  function () {
		$(".post_operators").hide();
		$(this).css("background-color","white")
	  }
	);

	//post activate effect
	$('.post').click(function() {
		var identificator = $(this).attr("id");
	  $(".activated_post_container").html("<p><img src='/images/loader.gif'/> Loading...</p>");
	  $.getScript("/posts/" + identificator + "/activate.js");
	});



  });