<% content_for :head do %>
  <%= javascript_include_tag "interest_ops", "jscroll", "jquery.pageless" %>
<% end %>


<%= content_for :middletop do %>
  <h1><span class="heading_subtelize"><%# (@interest.i_private)? 'Private interest:' : 'Interest:' %> <%# @interest.title %></span></h1>
<% end %>

<%# debug(session) %>
<%= content_for :tabs do %>
  <% session[:loaded_interests].each do |i| %>
    <div class="interest_tab<%= (@interest.id == i)? ' current_tab':' previous_tab' %>"><span class="interest_tab_title"><% Interest.find(i).beads.each do |b| %>o <%= b.title %> <% end %></span><%= link_to(image_tag('/images/remove.png',:border => 0,:title=>'remove tab'),(remove_tab_interest_path(i)+'?current_interest_id='+@interest.id.to_s),:class=>'tab_remove') %></div>
  <% end %>
<% end %>


<div id="interest" data-id="<%= @interest.id %>">
  <%# debug(@previous_visit_record) %>
<br />  
<%= (current_user == @interest.user)? link_to(image_tag('/images/edit.png',:border => 0, :title => 'edit'), edit_interest_path(@interest)) : (link_to('adpopt', adopt_interest_path(@interest)))  %> beads: <% @interest.beads.each do |beader| %>
  | <%= link_to beader.title, beader %>
  <% end %>

<h2><%= link_to image_tag('add.png', :border => false) + ' create message', '#', :remote => true, :class => 'hider', :id => 'create_message' %> | <span class="post_size"><%= pluralize(@interest.post_content(@interest.user).size.to_s, 'message') %></span></h2>
  <div class="content_create_message" style="display:none">
    <%= render 'posts/form' %>
  </div>
</div>
  
<%#= render :partial => @interest.post_content %>
  <div class="dynamic" id="buffer" style="display: none"></div>
<span class="timestamp" id="lastmessage" data-time="<%=  %>"></span>
<div class="dynamic" id="postcontent" data-time="<%= @previous_visit_record.to_i %>">
  <div class="post" data-time="<%= Time.now.to_i %>"><img src='/images/loader.gif'/> Loading messages...</div>
</div>

<div class="dynamic" id="pagedmessages">
<% if @message_content.total_pages > 1 %>
  <%= pageless(@message_content.total_pages,('/dynamic_load'+'?interest_id='+@interest.id.to_s)) %>
<% end %>

</div>

<% content_for :rightside do %>
  <%# debug(@interest.nearest_beads_combination(3)) %>
  <h2 class="memory_post_size"><%= pluralize(@interest.memorized_post_content(true,@interest.user).size.to_s, 'memory') %></h2>
<% if @interest.memorized_post_content(true,@interest.user).size > 10 %>
  <p><i> quick memory search</i></p>
  <p>
    <%= text_field_tag :memorysearch, params[:search] %>
  </p>
  <div class="dynamic" id="recalls">
  </div>
<% end %>
  <div class="dynamic" id="memories">
    <div class="post" data-time="<%= Time.now.to_i %>"><img src='/images/loader.gif'/> Loading memories...</div>
  </div>

<% end %>

<% content_for :leftside do %>
<div class="activated_post_container"></div>
<% if current_user == @interest.user and @interest.trusts.present? %>
	<h2>You trust this interest to</h2><br />
	<%= render :partial => 'trusts/outgoing_trust', :collection => @interest.trusts %>
<% end %>
<%# debug(@interest.trusts.map(&:trustee_id)) %>
<% if current_user == @interest.user and @interest.incoming_unconfirmed_trusts.present? %>
        <h2>Trusts from</h2><br />
	<%= render :partial => 'trusts/incoming_trust', :collection => @interest.incoming_unconfirmed_trusts %>
<% end %>

<% end %>
