<%# left side render %>

<div id="interest" data-id="<%= @interest.id %>">
<%# middle part render %>
<h2>Interest: <%= @interest.title %></h2> beads: <% @interest.beads.each do |beader| %>
  | <%= link_to beader.title, beader %>
  <% end %>
 ( <%= link_to 'Edit', edit_interest_path(@interest) %> )<br /><br />

<%= render 'posts/form' %>

  <h2 class="post_size"><%= pluralize(@interest.post_content.size.to_s + ' new ', 'post') %></h2>
<%#= render :partial => @interest.post_content %>
  <div class="dynamic" id="buffer" style="display: none">
  </div>
<div class="dynamic" id="post_content">
<% unless @interest.post_content.empty? %>
    <%= render :partial => @interest.post_content %>
<% end %>
</div>
</div>
<% content_for :rightside do %>
  <h2 class="memory_post_size"><%= pluralize(@interest.memorized_post_content(true).size.to_s, 'memory') %></h2>
  <%#= @interest.memorized_post_content.empty? ? content_tag(:p, "No memories in this interest", :class => 'side_note') : content_tag(:h2, 'Memories') %>
  <div class="dynamic" id="memories">
    <%= render :partial => @interest.memorized_post_content(true) %>
  </div>
<% end %>