<% content_for :head do %>
  <%= javascript_include_tag "interest_ops", "jscroll", "jquery.pageless" %>
<% end %>


<%= content_for :middletop do %>
  <h1><span class="heading_subtelize"><%# (@interest.i_private)? 'Private interest:' : 'Interest:' %> <%# @interest.title %></span></h1>
<% end %>

<%= content_for :tabs do %>
  <% session[:loaded_interests].each do |i| %>
    <div class="interest_tab<%= (@interest.id == i)? ' current_tab':' previous_tab' %>"><span class="interest_tab_title"><%= link_to(interest_path(i)) do %><% Interest.find(i).beads.each do |b| %>o <%= b.title %> <% end %><% end %></span><%= link_to(image_tag('/images/remove.png',:border => 0,:title=>'remove tab'),(remove_tab_interest_path(i)+'?current_interest_id='+@interest.id.to_s),:class=>'tab_remove') %></div>
  <% end %>
<% end %>

<div id="interest" data-id="<%= @interest.id %>">
  
email: <%= link_to(@interest.email_address, ('mailto:'+@interest.email_address),:title => 'you can send email to this interest') %>
  <br />
beads: <% @interest.beads.each do |beader| %>
  | <%= link_to beader.title, beader %>
  <% end %>

<h2><%= link_to image_tag('add.png', :border => false) + ' create message', '#', :remote => true, :class => 'hider', :id => 'create_message' %> | <span class="post_size"><%= pluralize(@interest.post_content(current_user).size.to_s, 'open message') %></span></h2>
  <div class="content_create_message" style="display:none">
    <%= render 'posts/form' %>
  </div>
</div>
<div class="dynamic" id="buffer" style="display: none"></div>
<div class="dynamic" id="postcontent" data-time="<%= @previous_visit_record.to_i %>">
  <img src='/images/loader.gif' alt="loader"/> Loading messages...
</div>

<div class="dynamic" id="pagedmessages"></div>

<% content_for :rightside do %>
  <h2 class="memory_post_size"><%= pluralize(@interest.memorized_post_content(true,current_user).size.to_s, 'memory') %></h2>
  <div class="lastpost" id="stamper" data-time="<%= Time.now.to_i %>"></div>
  <div class="timestamp" id="catcher" data-id="<%= @interest.id %>" data-time="<%= Time.now.to_i %>">

    <div class="stream_operators" id="openmessages">view all open</div>
    <div class="stream_operators" id="archivedmessages">view archive</div>
  </div>
  <div class="defloater"><% if @interest.memorized_post_content(true,current_user).size > 10 %>
  <br /><i>quick memory search</i>
    <%= text_field_tag :memorysearch, params[:search], :placeholder => 'search...' %>
  </div>
  <div class="dynamic" id="recalls">
  </div>
<% end %>
  <div class="dynamic" id="memories">
    <div class="post" data-time="<%= Time.now.to_i %>"><img src='/images/loader.gif'/> Loading memories...</div>
  </div>

<% end %>

<% content_for :leftside do %>
<div class="activated_post_container"></div>
<% if @interest.preference_for(current_user) && @interest.trusts_from(current_user).present? %>
	<h2>You trust this interest to</h2><br />
	<%= render :partial => 'trusts/outgoing_trust', :collection => @interest.trusts_from(current_user) %>
<% end %>
<%# debug(@interest.trusts.map(&:trustee_id)) %>
<% if @interest.preference_for(current_user) and @interest.unconfirmed_trusts_to(current_user).present? %>
        <h2>Trusts from</h2><br />
	<%= render :partial => 'trusts/incoming_trust', :collection => @interest.unconfirmed_trusts_to(current_user) %>
<% end %>
<% if @interest.preference_for(current_user) %>
  <%= link_to(image_tag('/images/add_trust.png',:border=>0), '#', :class => 'hider', :id => 'trust_builder', :title => 'click to search for minds to build the trusts with') %>
  <div class="content_trust_builder" style="display: none;">
    Mind search <br />
    <input id="mindfinder" name="mindfinder" type="text" />
  <div class="found_minds">Start typing the username...</div>
  </div>
<% end %>

<% end %>
