
<h2>Interest: <%= @interest.title %></h2> beads: <% @interest.beads.each do |beader| %>
  | <%= link_to beader.title, beader %>
  <% end %>

<br />
<br />

<%= render :partial => @postcontent %>



<h2>Add new post:</h2>
<%= form_for :post, :url => posts_path do |f| %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
<%= f.collection_select :bead_ids, @interest.beads.all, :id, :title, {}, :multiple => true , :prompt => true %>

 <%= debug(@interest.bead_ids) %>
  <p><%= f.submit "Add post" %></p>
<% end %>

<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
