<%= form_for Trust.new do |f| %>
  <%= f.error_messages %>
  <p>
    
    <%= f.hidden_field :trustee_id, :value => @user.id %>
  </p>
  <p>
    <%= f.label :interest_id %><br />
    <%= f.collection_select :interest_id, current_user.interests, :id, :title %>
  </p>
  <p><%= f.submit 'build trust with ' + @user.username %></p>
<% end %>
