<div class="trust<%= (trust.confirmed?)? ' confirmed' : ' unconfirmed' %>" title="this trust is<%= (trust.confirmed?)? ' confirmed' : ' unconfirmed' %>">
	<span><%= user_tag(trust.trustee) %> <%= link_to(trust.trustee.username, user_path(trust.trustee)) %>
          (<%= link_to 'x', trust, :confirm => 'Are you sure to break this trust?', :method => :delete, :title => 'click to break the trust' %>)</span>
</div>
