<%= div_for trust do %>
	<h3><%= link_to(trust.interest.title, interest_path(trust.interest)) %> to <%= link_to(trust.trustee.username, user_path(trust.trustee)) %></h3>

<% trust.interest.beads.each do |beader| %>
  o <span class="text_emphasizer"><%= beader.title %></span>
<% end %>

<%= (trust.shared?)? 'confirmed' : 'not confirmed' %>
<% end %>
