<% title "Memorizations" %>

<table>
  <tr>
    <th>Post</th>
    <th>User</th>
  </tr>
  <% for memorization in @memorizations %>
    <tr>
      <td><%= memorization.post_id %></td>
      <td><%= memorization.user_id %></td>
      <td><%= link_to "Show", memorization %></td>
      <td><%= link_to "Edit", edit_memorization_path(memorization) %></td>
      <td><%= link_to "Destroy", memorization, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Memorization", new_memorization_path(memorization) %></p>
