<% title "Memorization" %>

<p>
  <strong>Post:</strong>
  <%= @memorization.post_id %>
</p>
<p>
  <strong>User:</strong>
  <%= @memorization.user_id %>
</p>

<p>
  <%= link_to "Edit", edit_memorization_path(@memorization) %> |
  <%= link_to "Destroy", @memorization, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", memorizations_path %>
</p>
