<h2><span class="heading_subtelize">posted <%= time_ago_in_words(activated_post.created_at) %> ago by </span><strong><%= link_to activated_post.user.username, activated_post.user %></strong></h2>

<div class="activated_post" data-time="<%= activated_post.created_at.to_i %>" data-id="<%= activated_post.id %>" id="activated_post_<%= activated_post.id.to_s %>">
  <h3>
    <% if activated_post.p_private == true %>
    private:
    <% else %>
    public: 
    <% end %>
  <%= h(activated_post.title) %></h3>
  <%= simple_format(activated_post.content) %> <br />
  <span class="beads_slot" id="p<%= activated_post.id %>">
      <span class="bead_spot_full_p<%= activated_post.id %>">
      <% activated_post.beads.each do |beadlink| %>
        o <%= link_to beadlink.title, beadlink %>
      <% end %>
      </span>
    </span>
</div>

<div class="comments_frame"><h3 class="comments_placeholder">Reactions</h3><br />
  <div class="comments_content_container">
    <%= render :partial => activated_post.comments %>
  </div>
</div>
    <div class="comments_form_container">
    <%= form_for([activated_post, activated_post.comments.build], :remote => true) do |f| %>
          <%= f.text_field(:body, :size => "25x2") %>
      <%= character_count('comment_body', Comment::MAX_BODY_LENGTH, Comment::MAX_BODY_LENGTH - 20) %>
        <%# f.submit "add" %>
    <% end %>
  </div>

