<div class="scroll">

<h2><span class="heading_subtelize">sent <%= time_ago_in_words(activated_post.created_at) %> ago by </span><strong><%= link_to activated_post.user.username, activated_post.user %></strong></h2>

<div class="activated_post" data-id="<%= activated_post.id %>">
<div class="<%= (activated_post.p_private == true)? 'private' : 'public' %>_activated_post" data-time="<%= activated_post.created_at.to_i %>" data-id="<%= activated_post.id %>" id="activated_post_<%= activated_post.id.to_s %>">
  <h3><%= h(activated_post.title) %></h3>
  <% if activated_post.good_memory(current_user) %>
    <%= (activated_post.good_memory(current_user).status_indication == 'action')? 'marked for action | ' : '' %>
    <%= (activated_post.good_memory(current_user).status_indication == 'complete')? 'marked as complete | ' : '' %>
    <%= (activated_post.good_memory(current_user).status_indication != 'action')? link_to('mark for action',mark_for_action_memorization_path(activated_post.good_memory(current_user).id), :remote => true) : link_to('mark as complete',mark_for_completion_memorization_path(activated_post.good_memory(current_user).id), :remote => true) %>
  <% end %>
  <%= simple_format(auto_link(activated_post.content, :target => '_blank')) %> <br />
  <span class="beads_slot" id="p<%= activated_post.id %>">
      <span class="bead_spot_full_p<%= activated_post.id %>">
      <% activated_post.beads.each do |beadlink| %>
        o <%= link_to beadlink.title, beadlink %>
      <% end %>
      </span>
    </span>
</div>
</div>

<div class="comments_frame"><h3 class="comments_placeholder">Reactions</h3><br />
  <div class="comments_content_container">
    <%= render :partial => activated_post.comments %>
  </div>
</div>
    <div class="comments_form_container">
    <%= form_for([activated_post, activated_post.comments.build], :remote => true) do |f| %>
          <%= f.text_field(:body, :size => "25x2") %>
      <%= character_count('comment_body', Comment::MAX_BODY_LENGTH, Comment::MAX_BODY_LENGTH - 20) %>
        <%# f.submit "add" %>
    <% end %>
  </div>
</div>
