<% if activated_post.good_memory(current_user) %>
  
    <%= (activated_post.good_memory(current_user).status_indication == 'action')? image_tag('/images/action.png', :border => 0, :title => 'marked for action') : '' %>

    <%= (activated_post.good_memory(current_user).status_indication == 'complete')? image_tag('/images/complete.png', :border => 0, :title => 'marked as complete') : '' %>

    <%= (activated_post.good_memory(current_user).status_indication == 'archive')? image_tag('/images/archived.png', :border => 0, :title => 'marked as archived') : '' %>

    <%= (activated_post.good_memory(current_user).status_indication != 'action')? link_to(image_tag('/images/to_action.png', :border => 0, :title => 'mark for action'),mark_for_action_memorization_path(activated_post.good_memory(current_user).id), :remote => true) : link_to(image_tag('/images/to_complete.png', :border => 0, :title => 'mark as complete'),mark_for_completion_memorization_path(activated_post.good_memory(current_user).id), :remote => true) %>

    <%= (activated_post.good_memory(current_user).status_indication != 'archive')? link_to(image_tag('/images/archive.png', :border => 0, :title => 'mark for archival'),mark_for_archival_memorization_path(activated_post.good_memory(current_user).id), :remote => true) : link_to(image_tag('/images/to_complete.png', :border => 0, :title => 'mark as complete'),mark_for_completion_memorization_path(activated_post.good_memory(current_user).id), :remote => true) %>

    | <%= link_to(image_tag('/images/record.png', :border => 0), '#', :class => 'hider', :id => 'post_record', :title => 'Click to show or hide the memory record', :remote => :true) %>

<% end %>

    <%= link_to(image_tag('/images/users_list.png',:border => 0), '#', :class => 'hider', :id => 'affiliatememories', :title => ('Click to show or hide the affiliated minds memories ('+activated_post.other_memorizers(current_user).count.to_s+')'), :remote => :true) %>
    
    <%= (activated_post.good_memory(current_user))? simple_format(activated_post.good_memory(current_user).change_record, :class => 'content_post_record', :style => "display:none;") : '' %>

    <div class="content_affiliatememories" style="display:none">
<% activated_post.other_memorizers(current_user).each do |u| %>
    <span title="<%= u.username+' has the memory marked for '+u.memory_record_on(activated_post) %>" class="<%= u.memory_record_on(activated_post) %>"><%= user_tag(u) %><i><%= link_to_unless_current(u.username,u) %></i></span>
<% end %>
    </div>

