<%= form_for Post.new, :remote => true do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_area :content, :rows => 1 %>
    <%= f.check_box :p_private, :checked => ((@interest.preference_for(current_user))? @interest.preference_for(current_user).i_private : false ) %><%= f.label 'Private message' %>
  </p>
  <%= character_count('post_content', Post::MAX_CONTENT_LENGTH, Post::MAX_CONTENT_LENGTH - 20) %>
  <%= fields_for :beads_posts do |bead_fields| %>
    <%= bead_fields.hidden_field(:interest_id, :value => @interest.id) %>
  <% end %>

  <div class="memory_contribution">
      <% @interest.trustors(current_user).each do |trustor| %>
        <%= content_tag(:div, User.find(trustor).username, :class=>'mind_selection mind_unselected', :data_id => trustor, :title => "Select your trusted "+User.find(trustor).username+" to send this message to their mind" ) unless trustor == current_user.id %>

    <% end %>

  </div>
  <div class="defloater"></div>
  <p><%= f.submit "Send" %></p>
<% end %>
