<%= form_for Post.new, :remote => true do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_area :content, :size => "60x5"%>
  </p>
  <%= character_count('post_content', Post::MAX_CONTENT_LENGTH, Post::MAX_CONTENT_LENGTH - 20) %>
  <%= fields_for :beads_posts do |bead_fields| %>
    <%= bead_fields.hidden_field(:interest_id, :value => @interest.id) %>
  <% end %>
  <p><%= f.submit "Add post" %></p>
<% end %>