<div class="post" data-time="<%= post.created_at.to_i %>">
  <h3><%= link_to_unless_current h(post.title), post %></h3>
  <%= simple_format(post.content) %>
    <div class="post_foot" >
        <% post.beads.each do |beadlink| %>
          <%= link_to beadlink.title, beadlink %>, 
        <% end %>
        <%#h post.comments.count %> comments. <%= link_to '^', memorize_post_path(post) %> | <%= link_to 'v', erase_post_path(post) %>
        <i>, posted <%= time_ago_in_words(post.updated_at) %> ago by <strong><%= link_to post.user.username, post.user %></strong></i>
        </div>
</div>