<% unless @dynamic_posts.empty? %>
$(".dynamic#buffer").html("<%=raw escape_javascript(link_to(pluralize(@dynamic_posts.size.to_s + ' new ', 'message'), '#', :remote => true, :class => 'post_show')) %>").show();
$('.post_show').click(function() {
      refreshPosts();
      $(".dynamic#buffer").slideUp();
      });
<% else %>
      refreshPosts();
      $(".memory_post_size").html("<%=raw escape_javascript(pluralize(@memorized_content.size.to_s, 'memory')) %>");
<% end %>
  if ($(".activated_post").length > 0) {
    $.getScript("/posts/" + $('.activated_post').attr('data-id') + "/activate.js?indicator=true");
  }

  $(document).ready(function() {

    $(".post").hover(
      function () {
        var identificator = $(this).attr("id");
        $("#post_operators_"+identificator).show();
        $(this).css("background-color","#d1ffc0")
      },
      function () {
        $(".post_operators").hide();
        $(this).css("background-color","transparent")
      }
    );

    //post activate effect
    $('.post').click(function() {
        var identificator = $(this).attr("id");
      $(".activated_post_container").html("<p><img src='/images/loader.gif'/> Loading...</p>");
      $.getScript("/posts/" + identificator + "/activate.js");
    });
    

    
  });
// function for refresh of the message contents  
function refreshPosts() {
      $(".dynamic#postcontent").html("<%=raw escape_javascript(render(@message_content)) %><%=raw escape_javascript(pageless(@message_content.total_pages,posts_path,".dynamic#postcontent")) %>");
      $(".dynamic#memories").html("<%=raw escape_javascript(render(@memorized_content)) %><%=raw escape_javascript(pageless(@memorized_content.total_pages,posts_path,".dynamic#memories")) %>");
      $(".post_size").html("<%=raw escape_javascript(pluralize(@message_content.size.to_s, 'message')) %>");
}
