<%= form_for @beads_post do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :bead_id %><br />
    <%= f.text_field :bead_id %>
  </p>
  <p>
    <%= f.label :post_id %><br />
    <%= f.text_field :post_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
