<% title "Beads Post" %>

<p>
  <strong>Bead:</strong>
  <%= @beads_post.bead_id %>
</p>
<p>
  <strong>Post:</strong>
  <%= @beads_post.post_id %>
</p>

<p>
  <%= link_to "Edit", edit_beads_post_path(@beads_post) %> |
  <%= link_to "Destroy", @beads_post, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", beads_posts_path %>
</p>
