<%= div_for bead do %>
_beadPartial
<h1>	Bead_ID: <%= h(bead.id) %> <%= h(bead.title) %> ( posts #: <%= h(bead.posts.count) %> )</h1>
	<%= simple_format h(bead.description) %>
<%= render :partial => bead.posts %>
<% end %>
