<%= form_for(@bead) do |f| %>
  <% if @bead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bead.errors.count, "error") %> prohibited this bead from being saved:</h2>

      <ul>
      <% @bead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :parent_bead %><br />
    <%= f.check_box :parent_bead %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
