<%= form_for(@bead) do |f| %>
<%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <%= character_count('bead_title', Bead::MAX_TITLE_LENGTH, '25') %>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :parent_bead %><br />
    <%= f.check_box :parent_bead %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
