<% content_for :leftside do %>
  <div class="slot_full"></div>
<% end %>

<h2><%= @bead.title %>

<% if current_admin %>
<span class="main_operators">
<%= link_to 'Edit', edit_bead_path(@bead) %>
</span>
<% end %>
</h2>
<h3><%= @bead.description %></h3>
<br />
<%# link_to 'View or search all beads', beads_path %>
<div>
  <h2>related interests</h2>
  <%= render :partial => 'shared/interest', :collection => @bead.interests %>
</div>
<br />
<% content_for :rightside do %>
<h2>bead information</h2>
<p>
Associated messages: <%= @bead.beads_posts_count %> <br />
Associated interests: <%= @bead.interests.count %> <br />
Last activity: <%= (@bead.beads_posts.empty?)? 'None' : time_ago_in_words(@bead.beads_posts.last.post.created_at)+' ago' %><br />
</p>
<% end %>

