<%= render :partial => @bead %>

<div id="Bead Fabric Render">
  <%= render :partial => @bead.posts %>
</div>
<br>
<h2>Add new post:</h2>
<%= form_for :post, :url => posts_path do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <%= hidden_field(:beadfabric, :bead_id, :value => params[:id] ) %>
  <p><%= f.submit "Add post" %></p>
<% end %>

<%= link_to 'Edit', edit_bead_path(@bead) %> |
<%= link_to 'Back', beads_path %>
