<!DOCTYPE html>
<html>
<%= render 'shared/head' %>
<%= yield :head %>
  <body>


<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1341161-4']);
  _gaq.push(['_trackPageview']);
  (function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<div class="colmask threecol" id="header">
	<div class="colmid">
		<div class="colleft">
			<div class="col1">
				<!-- Column 1 start -->
                                  <%= yield :middletop %>
                                  <% flash.each do |name, msg| %>
                                    <%= content_tag :div, msg, :id => "flash_#{name}" %>
                                  <% end %>
				<!-- Column 1 end -->
			</div>
			<div class="col2">
				<!-- Column 2 start -->
                                <%= link_to image_tag('/images/wakinga_logo.png', :border => 0, :class => 'wakinga_logo'), root_path %>
				<!-- Column 2 end -->
			</div>
			<div class="col3">
				<!-- Column 3 start -->
                                <% if user_signed_in? %>
                                  <p>Signed in as <strong><%# link_to current_user.email, edit_user_registration_path(current_user) %><%= current_user.email %></strong>. Not you?
                                  <%= link_to "Sign out", destroy_user_session_path %></p>
                                <% else %>
                                  <p><%= link_to "Sign up", new_user_registration_path %></p>
                                <% end %>
				<!-- Column 3 end -->
			</div>
		</div>
	</div>
</div>
<div class="colmask threecol">
	<div class="colmid">
		<div class="colleft">
			<div class="col1">
				<!-- Column 1 start -->
                                <%= yield %>
				<!-- Column 1 end -->
			</div>
			<div class="col2">
				<!-- Column 2 start -->
                                <%= yield :leftside %>
				<!-- Column 2 end -->
			</div>
			<div class="col3">
				<!-- Column 3 start -->
                                <%= yield :rightside %>
				<!-- Column 3 end -->
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<p>@2011</p>
</div>
</body>
</html>
