<!DOCTYPE html>
<html>
<%= render 'shared/head' %>
<body>


<div id="container">
  <table class="main" width = "100%">
  <tr class="top_stripe">
    <td><%= link_to image_tag('/images/mindbeads_logo4.png', :border => 0, :class => 'mindbeads_logo'), root_path %></td>
    <td>
      <%= yield :middletop %>
    </td>
    <td class="top_right">
              <% if user_signed_in? %>
          Signed in as <strong><%# link_to current_user.email, edit_user_registration_path(current_user) %><%= current_user.email %></strong>. Not you?
          <%= link_to "Sign out", destroy_user_session_path %>
        <% else %>
          <%# link_to "Sign up", new_user_registration_path %>
          <%= "New registrations are disabled, " %>
          <%= link_to "see further info or enroll here", new_enrollment_path %>

        <% end %>
          <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      
    </td>
  </tr>
  <tr class="mid_stripe">
    <%# yields for page components, use content_for to fill %>
    <td class="leftside"><%= yield :leftside %></td>
    <td class="middle"><%= yield %></td>
    <td class="rightside"><%= yield :rightside %></td>
  </tr>
  </table>
<%# main yield for anything without content_for %>
  <%= yield :bottom %>
      </div>
    <p class="footer" align="left">© 2011 by Spontain</p>
    <div id="paramsinspect"><%= params.inspect %></div>
	</body>
</html>
